body {
    font-family: sans-serif;
    background-color: #976c33;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

img {
    max-width:50%;
    max-height:98%;
    width:  auto;
    height: auto;
    margin: 1%;
}

p{
    max-width: 60%;
    margin: 0.5%;
    font-size: 90%;
}

h6{
    font-size: 110%;
}
 .desc{
    align-items: center;
    display: flex;
    flex-direction: column;
 }


.nav{
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 100%;
}
.cab{
    width: 100%;
    background-color: #000;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
}

a{
    text-decoration: none;
    color:#fff;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
  
}

main{
    width: 100%;
    margin: 0;
    margin-top: 5.7%;
}


.box-card{
    display: flex;
    flex-wrap: wrap;
}

.card{
    display: flex;
    margin: 1%;
    width: 600px;
    height: 350px;
    background-color: #e7b97c;
}


@media(max-width: 535px){
    body{
        font-size: 50%;
    }

    .box-card{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .card{
        margin: 1.5%;
        width: 330px;
        height: 115px;
        background-color: #e7b97c;
    }
    .links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 30%;
      
    }

    .nav{
        margin: 2%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        font-size: 100%;
    }

}


